.banner {
  background-color: $fifth-color;
  padding: 5px 0;

  p {
    text-align: center;
    font-size: 11px;
    color: $white-two;
  }
}

@media screen and (max-width: 900px) {
  .banner {
    width: 100vw;

    p {
      font-size: 10px;
    }
  }
}
