.banner {
  background-color: $primary-color;
  padding: 5px 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;

  p {
    text-align: center;
    font-size: 11px;
    color: $white-two;
  }
}

@media screen and (max-width: 900px) {
  .banner {
    width: 100vw;

    p {
      font-size: 10px;
    }
  }
}
