@import "../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";
@import "./variables";
@import "./mixins.scss";
@import "./navigation";
@import "./banner";
@import "./login";
@import "./home";
@import "./carousel";
@import "./footer";
@import "./login";
@import "./profile";
@import "./categories";
@import "./productCard";
@import "./productDetails";
@import "./imageSlider";
@import "./homeCard";
@import "./cart";
@import "./cartCard";
@import "./cartBadge";
@import "./shipping.scss";
@import "./checkoutsteps.scss";
@import "./placeorder.scss";
@import "./tableorders.scss";
@import "./payment.scss";
@import "./order.scss";
@import "./userList.scss";

body {
  background: $white-two !important;
  font-family: "Montserrat", "Roboto", sans-serif;
  margin: 0px !important;
  padding: 0px !important;
}

.container {
  max-width: 1200px;
  min-height: calc(100vh - (38px + 40px));
  margin: 0 auto;
  padding-top: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
