.slider {
  @include flex(center, center);
  background: #000;
  height: 300px;
  overflow: hidden;

  &-img {
    background-size: cover;
    height: 500px;
  }

  &-layout {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  &-description {
    h3 {
      position: absolute;
      color: $white-one;
      top: 300px;
      right: -40px;
      font-size: 30px;
    }
  }
}

.slick-slider {
  margin: 0 !important;
  padding: 0 !important;
}
