.cartCard {
  background-color: $white-one;
  margin: 20px;
  padding: 20px;
  width: 500px;
  display: flex;
  align-items: center;

  &-image {
    width: auto;
    height: 120px;
    padding-right: 20px;
  }

  &-content {
    display: flex;
    flex-direction: column;
  }

  &-select {
    width: 100px;
  }
}
