.cart {
  margin-top: 160px;
  display: flex;
  justify-content: center;

  &-subtotal {
    margin-top: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: $white-one;
    height: 300px;
    width: 400px;

    h3:first-child {
      font-size: 24px;
    }
  }

  &-item {
    h2 {
      margin-top: 30px;
      text-transform: uppercase;
    }

    h5 {
      margin-top: 60px;
      font-size: 20px;
    }
    width: 600px;
  }
}

.description {
  &-quantity {
    margin-top: 40px;
  }
}
