.homeCard {
  .ant-card {
    width: 180px !important;
    height: 190px !important;
    margin: 0 10px;

    &-cover {
      @include flex(center, center);
      margin-top: 20px !important;

      img {
        height: 100px;
        width: auto;
      }
    }

    &-body {
      padding: 12px !important;
    }

    &:active,
    &:hover {
      color: $text-link;
    }
  }
}

.meta-title {
  text-align: center;
  font-size: 12px;
  font-weight: bolder;
}
