.home {
  margin-top: 104px;
  &-list {
    h3 {
      margin-top: 40px;
      text-transform: uppercase;
    }

    &-products {
      @include flex(center, center);
      flex-wrap: wrap;
    }

    &-spinner {
      margin-top: 200px;
    }
  }
}
