.login {
  margin-top: 160px;
  @include flex(center, center);
  flex-direction: column;

  &-intro {
    margin-bottom: 60px;
    text-transform: uppercase;
  }

  &-button {
    @include flex(center, center);

    button {
      width: 120px;
      margin-top: 40px;
    }
  }

  &-error {
    @include flex(center, center);
    color: $fifth-color;
  }
}

.ant-input,
.ant-input-password {
  width: 400px !important;
}

.signup {
  @include flex(center, center);

  &-text {
    @include flex(center, center);
  }

  span {
    padding: 0 10px;
  }
}
