.login {
  margin-top: 160px;
  @include flex(space-between, flex-start);

  &-intro {
    margin-bottom: 60px;
    text-transform: uppercase;
    @include flex(center, center);
    flex-direction: column;
    background-color: $white-one;
    width: auto;
    height: 100%;
    padding: 30px 40px;

    h2 {
      margin-bottom: 40px;
    }

    .ant-input,
    .ant-input-password {
      width: 400px !important;
    }
  }

  &-button {
    @include flex(center, center);

    button {
      width: 120px;
      margin-top: 40px;
    }
  }

  &-error {
    @include flex(center, center);
    color: $fifth-color;
  }
}

.signup {
  @include flex(center, center);

  &-text {
    @include flex(center, center);
  }

  span {
    padding: 0 10px;
  }
}

.loginDemo {
  padding: 30px 40px;
  background-color: $secondary-color;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 40px;

  h2 {
    color: $white-one;
  }

  &-buttons {
    display: flex;
    margin-top: 40px;

    button {
      margin: 0 20px;
    }
  }
}
// ==> end of wider screen

//====>  media query tablet
@media only screen and (max-width: 900) {
  .login {
    margin-top: 140px;
    flex-direction: column;
    align-items: center;

    &-intro {
      margin-bottom: 10px;
      @include flex(center, center);
      flex-direction: column;
      background-color: $white-one;
      width: auto;
      height: 100%;
      padding: 20px 30px;

      h2 {
        margin-bottom: 20px;
      }

      .ant-input,
      .ant-input-password {
        width: 400px !important;
      }
    }

    &-button {
      @include flex(center, center);

      button {
        margin-top: 10px;
      }
    }

    &-error {
      @include flex(center, center);
      color: $fifth-color;
    }
  }

  .signup {
    @include flex(center, center);

    &-text {
      @include flex(center, center);
    }

    span {
      padding: 0 10px;
    }
  }

  .loginDemo {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;
    margin-top: 30px;

    &-buttons {
      display: flex;
      margin-top: 10px;

      button {
        margin: 0 20px;
      }
    }
  }
}
