.order {
  margin-top: 120px;
  background-color: $white-one;
  padding: 40px;
  display: flex;
  flex-direction: column;

  &-details {
    flex-direction: row;
  }

  h2,
  h3 {
    text-transform: uppercase;
    text-align: center;
  }
}
