.placeorder {
  display: flex;
  flex-direction: column;
  background-color: $white-one;
  padding: 40px;

  &-buttons {
    align-self: center;

    button {
      margin: 0 20px;
      width: 200px;
    }
  }
}
