.product {
  background: $white-one;
  margin: 10px;
  width: 160px;
  height: 180px;
  @include flex(center, center);
  flex-direction: column;

  &-image {
    img {
      width: auto;
      height: 80px;
    }
  }

  &-details {
    align-self: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 0 6px;
    text-align: center;
  }
}
