.product {
  background: $white-one;
  padding: 20px;
  margin: 10px;
  width: 200px;
  height: 200px;
  @include flex(center, center);
  flex-direction: column;

  &-image {
    img {
      width: auto;
      height: 100px;
    }
  }

  &-details {
    @include flex(center, center);
    flex-direction: column;
    padding: 14px;
    text-align: center;
  }
}
