.card {
  height: 280px;
  width: 240px;
  padding: 10px;
  margin: 10px;

  background: $white-one !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h3 {
    text-align: center;
  }
}

.ant-image {
  img {
    height: 140px !important;
  }
}
