$text-link: #2997ff;
$text-color: #444;

$primary-color: #1e3d58;
$secondary-color: #526b8e;
$third-color: #e8f7ff;
$fourth-color: #41b0c1;
$fifth-color: #f04854;

$gray-one: #c5c5c5;
$gray-two: #aeaeae;
$gray-three: #979797;
$gray-four: #808080;
$gray-five: #696969;
$gray-six: #525252;
$gray-seven: #3b3b3b;

$white-one: #fff;
$white-two: #f5f5f5;
$white-three: #eaeff2;

$black-one: #000;
$black-two: rgb(33, 33, 33);
